<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- ---------- Main CSS ---------- -->
    <link rel="stylesheet" href="../../../assets/css/main.css" />
  </head>
  <body id="adminBody">
    <section id="adminPage">
      <div class="container">
        <!-- h1 -->
        <div class="row justify-content-center text-center mb-2">
          <h2 class="text-5xl py-3 py-md-4">Product Management</h2>
        </div>
        <!-- btn add -->
        <div class="row align-items-center">
          <div class="col-6">
            <div class="add">
              <div class="btnAdd">
                <button
                  type="button"
                  class="btn btn-primary py-2"
                  data-toggle="modal"
                  data-target="#myModal"
                  id="btnThemSP"
                  style="border-radius: 12px"
                >
                  Thêm sản phẩm
                </button>
              </div>

              <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Thêm sản phẩm
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="row">
                          <div class="form-group col-6">
                            <label for="recipient-name" class="col-form-label"
                              >ID</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="id"
                              disabled
                              placeholder="ID sẽ tự động cập nhật"
                            />
                            <span
                              id="spanID"
                              style="color: red; font-size: 12px"
                            ></span>
                          </div>
                          <div class="form-group col-6">
                            <label for="recipient-name" class="col-form-label"
                              >Loại sản phẩm</label
                            >
                            <select class="form-control" id="type">
                              <option value="Samsung">Samsung</option>
                              <option value="Iphone">Iphone</option>
                            </select>
                            <span
                              id="spanType"
                              style="color: red; font-size: 12px"
                            ></span>
                          </div>
                        </div>

                        <div class="row">
                          <div class="form-group col-6">
                            <label for="recipient-name" class="col-form-label"
                              >Tên sản phẩm</label
                            >
                            <input type="text" class="form-control" id="name" />
                            <span
                              id="spanName"
                              style="color: red; font-size: 12px"
                            ></span>
                          </div>
                          <div class="form-group col-6">
                            <label for="recipient-name" class="col-form-label"
                              >Giá</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="price"
                            />
                            <span
                              id="spanPrice"
                              style="color: red; font-size: 12px"
                            ></span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label"
                            >Màn hình</label
                          >
                          <input type="text" class="form-control" id="screen" />
                          <span
                            id="spanScreen"
                            style="color: red; font-size: 12px"
                          ></span>
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label"
                            >Camera trước</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="frontCamera"
                          />
                          <span
                            id="spanFrontCamera"
                            style="color: red; font-size: 12px"
                          ></span>
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label"
                            >Camera sau</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="backCamera"
                          />
                          <span
                            id="spanBackCamera"
                            style="color: red; font-size: 12px"
                          ></span>
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label"
                            >Ảnh</label
                          >
                          <input type="text" class="form-control" id="img" />
                          <span
                            id="spanImg"
                            style="color: red; font-size: 12px"
                          ></span>
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label"
                            >Mô tả</label
                          >
                          <textarea class="form-control" id="desc"></textarea>
                          <span
                            id="spanDesc"
                            style="color: red; font-size: 12px"
                          ></span>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Close
                      </button>
                      <button
                        type="button"
                        class="btn btn-primary"
                        id="handleAddNewProduct"
                        onclick="handleAddNewProduct()"
                      >
                        Add
                      </button>
                      <button
                        class="btn btn-warning"
                        onclick="updateProduct()"
                        id="updateProduct"
                      >
                        Cập nhật
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- sắp xếp -->
        </div>
        <!-- search -->
        <div class="row">
          <div class="container mt-5">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Nhập tên sản phẩm"
                aria-describedby="button-addon4"
                id="txtSearch"
              />
              <div class="input-group-append" id="button-addon4 btnSearch">
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  onclick="searchProductByName()"
                >
                  <i class="fa fa-search"></i>
                  Search
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4 justify-content-end">
          <div
            class="d-flex align-items-center justify-content-around form-group"
          >
            <span class="mr-3">Sắp xếp theo giá</span>
            <button id="btnSapXepTuBeDenLon" class="btn btn-dark mr-1">
              <i class="fa fa-arrow-up"></i>
            </button>
            <button id="btnSapXepTuLonDenBe" class="btn btn-dark mr-3">
              <i class="fa fa-arrow-down"></i>
            </button>
          </div>
        </div>

        <!-- table -->
        <div class="row">
          <div class="table-responsive">
            <table class="table text-center bg-white">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Type</th>
                  <th>Tên sản phẩm</th>
                  <th>Giá</th>
                  <th>Màn hình</th>
                  <th>Camera</th>
                  <th>Ảnh</th>
                  <th>Mô tả</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="tbodySanPham"></tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!-- Section:  -->

    <!-- Optional JavaScript -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- ---------- Utils ---------- -->
    <script src="../../utils/constant.js"></script>
    <script src="../../utils/helper.js"></script>
    <!-- ---------- Validation ---------- -->
    <script src="../../validation/validation.js"></script>
    <!-- ---------- Service ---------- -->
    <script src="../../services/api/ProductService.js"></script>
    <!-- ---------- Models ---------- -->
    <script src="../models/SanPham.js"></script>
    <!-- ---------- Controllers ---------- -->
    <script src="../controller/controller.js"></script>
    <!-- ---------- Util ---------- -->
    <script src="../util/util.js"></script>
    <!-- ---------- Main.js ---------- -->
    <script src="../admin.js"></script>
  </body>
</html>
