<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Customer</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- ---------- Main CSS ---------- -->
    <link rel="stylesheet" href="../../../assets/css/main.css" />
  </head>
  <body>
    <!-- Header section -->

    <!-- Banner section -->

    <!-- Customer section -->
    <section id="customerPage" class="min-vh-100">
      <div class="container">
        <!-- Title -->
        <div class="row justify-content-center text-center mb-2">
          <h2 class="text-5xl py-3 py-md-4">Featured Products</h2>
        </div>

        <!-- Form Search -->
        <div class="row justify-content-center px-3 px-md-5 mb-4 mb-md-5">
          <!-- Search by product name -->
          <form
            id="searchByName"
            class="input-group mb-3 border rounded-lg overflow-hidden"
          >
            <i
              class="d-none d-sm-block align-self-center pl-sm-3 fa-solid fa-magnifying-glass"
            ></i>
            <input
              type="text"
              class="flex-md-grow-1 px-2 px-md-4 py-2 py-md-3 border-0"
              placeholder="Enter product name"
            />
            <button
              type="submit"
              class="btn position-relative px-2 px-md-4 rounded-0 flex-grow-1 flex-md-grow-0"
            >
              Search
            </button>
          </form>

          <!-- Search by product type -->
          <div id="searchByType" class="row justify-content-md-end w-100">
            <div class="input-group col-12 col-md-8 px-0">
              <!-- Label -->
              <div class="input-group-prepend py-1 py-md-2 mr-2">
                <label
                  class="input-group-text text-base border-0 bg-transparent rounded-0"
                  for="type"
                >
                  <i class="fa-solid fa-filter pr-1 pr-sm-3"></i>
                  Filter
                </label>
              </div>
              <!-- Dropdown -->
              <select name="type" class="custom-select h-100" id="type">
                <option selected value="">All Brands...</option>
                <option value="iPhone">iPhone</option>
                <option value="samsung">Samsung</option>
              </select>
            </div>
          </div>
        </div>

        <!-- List of Card -->
        <div id="listCard" class="row">
          <!-- Item -->
        </div>
      </div>
    </section>

    <section id="payment">
      <!-- Button trigger modal -->
      <div id="btnTriggerPayment" class="position-fixed">
        <button
          type="button"
          class="btn btn-light shadow-lg d-flex justify-content-center align-items-center rounded-circle"
          data-toggle="modal"
        >
          <!-- onclick="handleModalCart()" -->
          <!-- data-target="#paymentModal" -->
          <i class="fa-solid fa-cart-shopping"></i>
          <span class="badge rounded-circle position-absolute text-white"
            >0</span
          >
        </button>
      </div>

      <!-- Payment Modal -->
      <div
        id="paymentModal"
        class="modal fade"
        tabindex="-1"
        aria-labelledby="modalLabel"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable"
        >
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header align-items-center">
              <h5 class="modal-title text-3xl" id="modalLabel">
                Shopping Cart
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="paymentContent">
              <!-- Content Payment -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Toast -->
    <section id="toast"></section>

    <!-- Footer section -->

    <!-- Optional JavaScript -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- ---------- Utils ---------- -->
    <script src="../../utils/constant.js"></script>
    <script src="../../utils/helper.js"></script>
    <!-- ---------- Service ---------- -->
    <script src="../../services/api/ProductService.js"></script>
    <!-- ---------- Models ---------- -->
    <!-- ---------- Controllers ---------- -->
    <script src="../controllers/templates.js"></script>
    <!-- ---------- Customer.js ---------- -->
    <script src="../customer.js"></script>
  </body>
</html>
