// Button Group Count
@mixin btn-group-count {
  .btn-group {
    button {
      background: none;
      border-radius: 50%;
      border: 2px solid $pink-2;
      color: $pink-2;

      &.btn--down {
        border-color: $gray-3;
      }
    }

    input {
      border-radius: 10px;
    }
  }
}
