// Color
$pink-1: var(--pink-1);
$pink-2: var(--pink-2);
$pink-3: var(--pink-3);
$white: var(--white);
$gray-1: var(--gray-1);
$gray-2: var(--gray-2);
$gray-3: var(--gray-3);
$gray-4: var(--gray-4);
$gray-5: var(--gray-5);
$gray-6: var(--gray-6);
$gray-7: var(--gray-7);
$gray-8: var(--gray-8);
$gray-9: var(--gray-9);

// Initial font
$font-initials: (
  'text-base': (
    font-size: 1rem,
    line-height: 1.5rem,
  ),
  'text-lg': (
    font-size: 1.125rem,
    line-height: 1.75rem,
  ),
  'text-md': (
    font-size: 0.9375rem,
  ),
  'text-tiny': (
    font-size: 0.8125rem,
  ),
  'text-xl': (
    font-size: 1.25rem,
    line-height: 1.75rem,
  ),
  'text-2xl': (
    font-size: 1.5rem,
    line-height: 2rem,
  ),
  'text-3xl': (
    font-size: 1.875rem,
    line-height: 2.25rem,
  ),
  'text-4xl': (
    font-size: 2.25rem,
    line-height: 2.5rem,
  ),
  'text-5xl': (
    font-size: 3rem,
    line-height: 1,
  ),
  'text-8xl': (
    font-size: 6rem,
    line-height: 1,
  ),
);
