section#adminPage {
  > div {
    background-image: url('../../../assets/img/backgroundAdmin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  //   .add {
  //     position: absolute;
  //   }
  //   .btnAdd {
  //     transform: translateX(230px) translateY(230px);
  //   }
  //   .container {
  //     position: relative;
  //     padding-top: 400px;
  //     color: white;
  //   }
  //   .container .row {
  //     margin-left: 100px;
  //   }
}
